* {
    margin: 0;
    padding: 0;
    border: 0;

    overflow: hidden;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

body {
    height: 100vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
}

canvas {
    height: 95%;
    aspect-ratio: 1;
    border: 1px solid black;
}