* {
    margin: 0;
    padding: 0;
    border: 0;

    overflow: hidden;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    box-sizing: border-box;
}

button, a {
    cursor: pointer;
}

body {
    height: 100vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 30px;
}

canvas {
    height: 100%;
    aspect-ratio: 1;
    border: 1px solid black;
    image-rendering: pixelated;
}

#ui {
    height: 100%;
    aspect-ratio: 1;
    position: absolute;
    padding: 5px;
    user-select: none;
}

#sidebar {
    margin-left: 10px;
    border: 1px solid black;
    height: 100%;
    padding: 10px;
}

#sidebar #separator {
    width: 100%;
    height: 1px;
    background-color: #4d4d4d;
    margin: 5px 0 20px;
}

#sidebar button {
    display: block;
    margin: 10px 0;
    border: 3px solid #4d4d4d;
    color: #4d4d4d;
    background-color: transparent;
    font-size: 1rem;
    font-weight: bold;
    padding: 0 10px;
    border-radius: 5px;
    width: 100%;
}

#sidebar button.selected {
    color: white;
    background-color: #4d4d4d;
}

#sidebar h1 {
    font-size: 1.5rem;
}

canvas p {
    position: absolute;
    top: 0;
    left: 0;
}